:root {
  --toastify-color-info: #00a6fb;
  --toastify-color-success: #87c200;
  --toastify-color-warning: #e08400;
  --toastify-color-error: #e2003f;
}

.Toastify__toast-container {
  width: auto;
  max-width: var(--toastify-toast-width);
}
